body {
    font-family: 'PT Sans Caption', sans-serif;
    width: 100%;
}

#heading{
    font-size: 35px;
    color: white;
}

#slogan {
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar, #footer {
    background-color: #333333;
    
}



#newsfeed {
    width: 100%;
    padding-left: 20%;
    
}

#newsfeed hr {
   color: darkgray;
}

#articles {
    width: 80%;
}

#title, #date {
    color: #1a1a1a;
    font-size: 20px;
}

#body-text {
    color: #808080;
    font-size: 18px;
}