#content, #chat_content {
  padding: 1em;
  background-color: cornflowerblue;
  margin: 0 auto;
  width: 80%;
}


#chat_form {
  color: white;
  text-align: center;
}

#chat_form a {
  color: #fd7e14;
}

#chat_form > input {
  font-size: 1.1em;
  margin-top: 1em;
  margin-right: 1em;
  outline: none;
  border: none;
  text-align: center;
  color: #212121;
  padding: 0.4em;
  background-color: rgba(255,255,255,0.7);
  border-radius: 6px;
}

#msg {
  height: 8em;
  width: 80%;
  font-size: 1.5em;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  outline: none;
  border: none;
  text-align: left;
  color: #212121;
  padding: 0.4em;
  background-color: rgba(255,255,255,0.7);
  border-radius: 6px;
}

#chat_form > input[type="button"] {
  background-color: transparent;
  border: 3px solid #f2f2f8;
  color: #f2f2f8;
  transform: translate3D(0, 0, 0);
  transition: color 0.3s, background-color 0.3s, transform 0.15s;
  cursor: pointer;
}
#chat_form > input[type="button"]:hover {
  color: #212121;
  background-color: #f2f2f8;
  outline: none;
}
#chat_form > input[type="button"]:focus {
  outline: none;
}
#chat_form > input[type="button"]:active {
  transform: translate3D(0, 5px, 0);
  outline: none;
}

#footer {
  margin: 0 auto;
  color: white;
  background-color: cornflowerblue;
}

#chat_content {
  font-family: 'Courier Prime';
  font-size: 1.2em;
  color: white;
}

#log{
  background-color: 	rgb(217, 83, 79) ;
  border-radius: 5px;
  padding:2px;
  float:right;
}
.clearfix{
  content: "";
  clear: both;
  display: table;
}